<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.remu">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".chooseLanguageActivity" />
        <activity android:name=".AddTourismActivity" />
        <activity android:name=".TourismDetailActivity" />
        <activity android:name=".ProfileFriend" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".ConfirmScannerActivity" />
        <activity android:name=".QrCodeScannerActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".UpdateProfil" />
        <activity android:name=".PlaceDetailActivity" />
        <activity android:name=".QiblaActivity" />
        <activity android:name=".SetAddressActivity" />
        <activity android:name=".HalalFastFoodRestaurantActivity" />
        <activity
            android:name=".HalalGiftActivity"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".HalalFastFoodActivity"
            android:theme="@style/DarkRedTheme" />
        <activity
            android:name=".TourismActivity"
            android:theme="@style/BlueTheme" />
        <activity android:name=".FastFoodActivity" />
        <activity android:name=".FindFriendsActivity" />
        <activity android:name=".FindFriends" />
        <activity android:name=".FriendResult" />
        <activity android:name=".HalalFoodRestaurantActivity" />
        <activity android:name=".RestoranActivity" />
        <activity android:name=".FoodKategoriActivity" />
        <activity
            android:name=".HalalFoodActivity"
            android:theme="@style/YellowTheme" />
        <activity android:name=".ListOnline" />
        <activity android:name=".Profil" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".AddDictionary"
            android:theme="@style/LightPinkTheme" />
        <activity
            android:name=".DictionaryActivity"
            android:theme="@style/LightPinkTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivity"
            android:theme="@style/YellowTheme" />
        <activity
            android:name=".MosqueActivity"
            android:theme="@style/GreenTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MidPinkTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2yW_s0jqKnavh2AxISXB272VuSE56WI8" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>

</manifest>